#dropzone {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px dashed #CCC;
  height: 100px;
  width: 100%;
  background-color: #ffc;
  margin-bottom: 10px;
  border-radius: 10px;
}

#dropzone.hover {
  border: 3px dashed #080;
}

#dropzone.error {
  border: 3px dashed #f98383;
}

#dropzone div {
  font-size: 24px;
  color: #444;
}

#dropzone [type="file"] {
  display: none;
}