* {
  font-family:'Courier New', Courier, monospace;
  font-size: 12px;
  margin: 0;
  box-sizing: border-box;
  border-spacing: 0;
}

body {
  padding: 10px;
}

tr{
  display: flex;
  align-items: center;
  padding: 2px;
}

body{
  background-color: #eee;
}

#containers {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.pre {
  background-color: white;
  border: 1px solid black;
  box-shadow: #5559 0px 2px 5px;
}

table {
  width: 100%;
}
tr::before{
  content: "" attr(data-index)
}
tr:nth-of-type(odd){
  background-color: #00000010;

}

/* CONTAINER TABLE */
.descricao{
  text-align: left;
  width: 20%;
}
.numero{
  text-align: center;
  width: 10%;
}
.dimensoes{
  text-align: center;
  width: 10%;
}
.peso{
  text-align: center;
  width: 10%;
}
.data_tc{
  text-align: center;
  width: 10%;
}
.venc_tc{
  text-align: center;
  width: 10%;
}
.sn_eslinga{
  text-align: center;
  width: 10%;
}
.data_inspecao{
  text-align: center;
  width: 10%;
}
.venc_inspecao{
  text-align: center;
  width: 10%;
}

/* ITEMS TABLE */
.item{
  text-align: left;
  width: 20%;
}
.virtual{
  text-align: center;
  width: 20%;
}
.serial{
  text-align: center;
  width: 20%;
}
.peso_item{
  text-align: center;
  width: 20%;
}
.valor{
  text-align: center;
  width: 20%;
}
.table_header{
  background-color: #555 !important;
  color: white
}
.sub_header{
  background-color:#999 !important;
  color: white;
  height: 16px;
}
.container{
  background-color: white ;
  height: 26px;
}

.footer{
  display: flex;
  justify-content: end;
  background-color: #CCC;
  font-size: 10px;
  padding: 4px;
  height: 16px;
}

span {
  margin-top: 10px;
  margin-bottom: 0px;
}

.disabled {
  background-color: #aaa;
}

.copy, table {
  cursor: pointer;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.copied {
  animation: bg 0.6s ease-in-out;
}

.copied::after{
  display: block;
  content: "Copiado para área de transferência !";
  position: absolute;
  width: fit-content;
  padding: 10px;
  background-color: green!important;
  color: white;
  border-radius: 3px;
  bottom: 20px;
  right: 20px;
}

@keyframes bg {
  from {background-color: white;}
  50% {background-color: #afa;}
  to {background-color: white;}
}