* {
  font-family:'Courier New', Courier, monospace;
  font-size: 12px;
}
body{
  background-color: #eee;
}

#containers {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.pre {
  tab-size: 4;
  background-color: white;
  border: 1px solid black;
  padding: 4px;
}

table {
  width: 100%;
}
tr::before{
  content: "" attr(data-index)
}
tr:nth-of-type(odd){
  background-color: #00000010;

}
td.name{
  width: 50%;
}
td.serial{
  width: 20%;
}
td.comments{
  width: 30%;
}

span {
  margin-top: 10px;
  margin-bottom: 0px;
}

.disabled {
  background-color: #aaa;
}

.copy, table {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.copied {
  animation: bg 1.2s ease-in-out;
}

.copied::after{
  float: right;
  display: block;
  content: "Copiado para área de transferência !";
  position: relative;
  width: fit-content;
  padding: 10px;
  background-color: green;
  color: white;
  border-radius: 3px;
  margin-top: -30px;
}

@keyframes bg {
  from {background-color: white;}
  50% {background-color: #afa;}
  to {background-color: white;}
}